{% extends 'layout.html' %}


{% block title %}Vacation Project{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome To Our Vacation Website</h1>
    <p class="lead mt-3">"Here you can browse, sign up, and like dreamy vacations 🎉"</p>
       {% if user.is_authenticated %}
       <div class="allert alert-success mt-3">
        Hello {{ user.username }}
       </div>
       {% else %}
       <div class="alert alert-info mt-3">
        You are not logged in <a href="{% url 'login' %}">Log In here</a> Or <a href="{% url 'signup' %}">Sign Up here</a>
       </div>
       {% endif %}
       
        <a href="{% url 'vacation_list' %}" class="btn btn-primary">Vacations List</a>

       
    </div>

{% endblock %}