{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 85vh;">
  <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
    <h2 class="text-center mb-4">Sign Up</h2>

    <form method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  {% crispy form %}
</form>
<div class="text-center mt-3 " >
<a href="{% url 'login' %}">If you already have an account, log in here</a>
</div>
  </div>
</div>
{% endblock %}
